#russ-picture { 
     width: 40%;
     height: 40%;
}

h1 {
   border-style: solid;
   border-color: green;
   background-color: red;
   text-align: center;
}

h2 {
   border-style: solid;
   border-color: green;
   background-color: blue;
}

p {
  color: blue;
}

#bio-div {
  background-color: green;
}