#russ-picture { 
     width: 40%;
     height: 40%;
}

h1 {
   border-style: solid;
   border-color: green;
   background-color: red;
   text-align: center;
}

h2 {
   border-style: solid;
   border-color: green;
   background-color: CornflowerBlue;
   padding-left: 10px;
}

h3 {
   border-style: solid;
   border-color: green;
   background-color: SandyBrown;
   padding-left: 10px;
}

p {
  color: DarkGreen;
}

ul li {
  color: DarkGreen;
}

ul ul li {
  color: RoyalBlue;
}

#bio-div, #background-div {
  background-color: DarkSeaGreen;
}



