#russ-picture { 
     width: 40%;
     height: 40%;
     
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

ul#index-links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
}

ul#index-links li a {
  color: green;
  text-align: center;
  display:block; #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  border: 1px solid green;
}

#index-links li{
  text-align: center:
}

li a:hover {
  background-color: #555;
  color: white;
}

h1 {
   border-style: solid;
   border-color: green;
   background-color: red;
   text-align: center;
}

h2 {
   border-style: solid;
   border-color: green;
   background-color: CornflowerBlue;
   padding-left: 10px;
}

h3 {
   border-style: solid;
   border-color: green;
   background-color: SandyBrown;
   padding-left: 10px;
}

p {
  color: DarkGreen;
}

ul li {
  color: DarkGreen;
}

ul ul li {
  color: RoyalBlue;
}

body {
  background-color: DarkSeaGreen;
}

